
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UAI::LPPA:Parcial 1</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="container">
        <!-- Cabecera -->
        <header>
            <div class="brand">
                ¿ Hay vida enotros planetas? - Sistemas solares
            </div>
        </header>
        <!-- Contenido -->
        <section>
            <article>
                @RenderBody()
            </article>
        </section>

        <!-- Contenido relacionado-->
        <aside id="sidemenu">
            <div class="contenido">
                Contenido relacionado
            </div>
            <ul>
                <li><a href="@Url.Action("index","home")">Principal</a> </li>
                <li><a href="@Url.Action("cosmo","home")">Mantenimiento de constelaciones</a> </li>
            </ul>
        </aside>
        <!-- Pie de pagina -->
        <footer>
            <div>¿Hay vida en otros planetas? - 2020</div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>